body {
    margin: 0;
    font-family: helvetica;
    font-size: large;
}

#logo {
    height: 200px;
    width: 200px;
}

#container {
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100hv;
    flex-direction: column;
}